---
import BaseLayout from "../layouts/BaseLayout.astro";
const projects = import.meta.glob("./portfolio/*.md", { eager: true });
---

<BaseLayout title="Portfolio">
    <p>
        Here are all of my projects that I am actually proud to present. If you
        want to view the rest of my work for some reason, which is mostly
        laughably broken hackathon submissions and abandoned side projects, you
        can go to my <a href="https://github.com/danielzting/">GitHub</a>.
    </p>
    <ul>
        {
            Object.values(projects)
                .sort(
                    (a: any, b: any) =>
                        Date.parse(b.frontmatter.date) -
                        Date.parse(a.frontmatter.date),
                )
                .map((project: any) => (
                    <li>
                        <img
                            src={project.frontmatter.image}
                            alt={project.frontmatter.alt}
                        />
                        <h3>
                            <a href={project.url}>
                                {project.frontmatter.title}
                            </a>
                        </h3>
                        <p>{project.frontmatter.summary}</p>
                    </li>
                ))
        }
    </ul>
</BaseLayout>

<style>
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(calc(320px - 2rem), 1fr)
        );
        grid-gap: 1rem;
    }

    li {
        border: 1px solid var(--text-color);
        padding: 1rem;
    }

    li p {
        margin: 0;
    }

    img {
        height: 200px;
        object-fit: fill;
        width: 100%;
        margin-bottom: 1rem;
    }
</style>
